@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components{
    .lista{
        @apply bg-white hover:bg-cyan-500 hover:text-white px-4 py-2 rounded transition duration-300 block;
    }
}